:root{
--bacground-primary: #f3f4f6;
--color-primary: #384152;
--color-buttom: #e65162;
}

body{
font-family: "Poppins", Sans-Serif;
background-color: white;
color: var(--color-primary);
}
nav{
display: flex;
justify-content: space-between;
align-items: center;
position: fixed;
top: 0;
right: 0;
left: 0;
background-color: white;
padding-left: 3em;
height: 40px;
width: 100%;
}
#navs ul li a:hover{
border-radius: 2px;
background-color: var(--color-buttom);
color: white;
}
nav ul{
display: flex;
margin-right: 5em;
list-style: none;
gap: 2em;
}
nav ul li a{
text-decoration: none;
color: var(--color-primary);
}
main .Container-hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 640px;
width: 100%;
}
main .Container-hero #logo{
height: 200px;
width: 200px;
}
#title{
margin-top: -20px;
margin-bottom: 6px;

}
.botton-hero{
background-color: var(--color-buttom);
border: none;
color: white;
height: 40px;
width: 150px;
font-size: 15px;
font-weight: 700;
border-radius: 40px;
}
#about{
display: flex;
justify-content: center;
align-items: center;
gap: 10em;
}
main #about #about-image #abouts-image{
height: 500px;
width: 700px;
}
.about-text{
width: 700px;
font-size: 30px;
}
#hero{
display: flex;
justify-content: center;
align-items: center;
height: 600px;
width: 100%;
gap: 4em;
height: 800px;
width: 100%;
margin-top: 6px;
border-radius: 20px;
background-color: white;
}
.card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-top: 4px;
border: 1px solid black;
height: 500px;
width: 300px;
border: none;
background-color: white;
border-top-right-radius: 30px;
border-top-left-radius: 30px;
border-bottom-right-radius: 30px;
box-shadow: 1px 1px 5px 1px #b5b5b5;
}
.card img{
border-bottom: 2px solid #d5d5d5;
height: 190px;
width: 190px;
}
.button-card{
border: none;
height: 40px;
width: 150px;
border-radius: 40px;
background-color: #e65162;
font-size: 15px;
font-weight: 700;
}
.button-card a{
text-decoration: none;
color: white;
}
@media(max-width: 1400px){
nav h1{
color: yellow;
}
main #about{
display: flex;
justify-content: center;
align-items: center;
gap: 4em;
}
#about .about-text{
width: 500px;
font-size: 15px;
}
main #about #about-image #abouts-image{
height: 300px;
width: 400px;
}
#hero{
gap: 4em;
}
.card{
height: 400px;
width: 200px;
}
.card img{
height: 150px;
width: 150px;
}
.button-card{
height: 30px;
width: 100px;
font-size: 12px;
}
}
@media (max-width:992px){
nav h1{
color: blue;
}
main #about{
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
}
main #about .about-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 20px;
width: 500px;
margin-top: 1px;
}
main #about #about-image #abouts-image{
height: 400px;
width: 500px;
}
#hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 3400px;

}
.card{
width: 500px;
height: 700px;
}
.card img{
height: 350px;
width: 350px;
}
#h1{
display: none;
}
}
@media(max-width:768px){
nav h1{
color: red;
}
nav{
display: flex;
flex-direction: column;
align-items: center;
padding-left: 0;
height: 150px;
}
nav ul{
margin-right: 30px;
}
main #about{
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
}
main .Container-hero #logo{
height: 100px;
width: 100px;
}
main #about .about-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 15px;
width: 500px;
margin-top: 1px;
}
main #about #about-image #abouts-image{
height: 300px;
width: 400px;
}
#hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 3000px;
}
.card{
width: 400px;
height: 600px;
}
#h1{
display: none;
}
}

@media(max-width:576px){
nav{
display: flex;
flex-direction: column;
align-items: center;
padding-left: 0;
height: 150px;
}
nav ul{
margin-right: 30px;
}
main #about{
display: flex;
flex-direction: column-reverse;
justify-content: center;
align-items: center;
height: 400px;
}
main .Container-hero #logo{
height: 100px;
width: 100px;
}
main #about .about-text{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: 15px;
width: 300px;
margin-top: 1px;
}
main #about #about-image #abouts-image{
height: 200px;
width: 300px;
}
#hero{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 2500px;

}
.card{
width: 300px;
height: 500px;
}
.card img{
height: 200px;
width: 200px;
}

}